In [131]:
import pandas as pd
import numpy as np

In [132]:
traj = pd.read_csv('../data/traj.csv')
traj

,id,time,entity_id,traj_id,coordinates,current_dis,speeds,holidays
0,0,2013-10-08T17:45:00Z,254,0,"[116.318726,40.009014]",0.000000,36.6900,0
1,1,2013-10-08T17:46:45Z,254,0,"[116.315102,40.004784]",0.562623,24.5375,0
2,2,2013-10-08T17:47:39Z,254,0,"[116.315018,40.002842]",0.778695,31.9675,0
3,3,2013-10-08T17:49:26Z,254,0,"[116.315041,39.998585]",1.252148,19.7850,0
4,4,2013-10-08T17:51:15Z,254,0,"[116.315605,39.992554]",1.924533,24.4500,0
...,...,...,...,...,...,...,...,...
414839,518403,2013-10-30T23:14:35Z,4954,21998,"[116.333366,39.79073]",21.419211,27.1450,0
414840,518404,2013-10-30T23:14:59Z,4954,21998,"[116.330444,39.79084]",21.669183,30.0825,0
414841,518405,2013-10-30T23:16:35Z,4954,21998,"[116.328453,39.793888]",22.129037,46.0550,0
414842,518406,2013-10-30T23:16:59Z,4954,21998,"[116.328072,39.796574]",22.429494,51.5150,0
414843,518407,2013-10-30T23:17:11Z,4954,21998,"[116.327988,39.797451]",22.527282,26.0125,0

In [133]:
to_delete = []
trajs = traj.groupby('traj_id')
for name, group in trajs:
    if len(group) < 15:
        to_delete.append(name)
print(len(to_delete))
traj = traj.drop(traj[traj['traj_id'].isin(to_delete)].index)
traj

7366

,id,time,entity_id,traj_id,coordinates,current_dis,speeds,holidays
0,0,2013-10-08T17:45:00Z,254,0,"[116.318726,40.009014]",0.000000,36.6900,0
1,1,2013-10-08T17:46:45Z,254,0,"[116.315102,40.004784]",0.562623,24.5375,0
2,2,2013-10-08T17:47:39Z,254,0,"[116.315018,40.002842]",0.778695,31.9675,0
3,3,2013-10-08T17:49:26Z,254,0,"[116.315041,39.998585]",1.252148,19.7850,0
4,4,2013-10-08T17:51:15Z,254,0,"[116.315605,39.992554]",1.924533,24.4500,0
...,...,...,...,...,...,...,...,...
414839,518403,2013-10-30T23:14:35Z,4954,21998,"[116.333366,39.79073]",21.419211,27.1450,0
414840,518404,2013-10-30T23:14:59Z,4954,21998,"[116.330444,39.79084]",21.669183,30.0825,0
414841,518405,2013-10-30T23:16:35Z,4954,21998,"[116.328453,39.793888]",22.129037,46.0550,0
414842,518406,2013-10-30T23:16:59Z,4954,21998,"[116.328072,39.796574]",22.429494,51.5150,0
414843,518407,2013-10-30T23:17:11Z,4954,21998,"[116.327988,39.797451]",22.527282,26.0125,0

In [134]:
traj['x'] = traj.apply(lambda row:eval(row['coordinates'])[0],axis=1)
traj['y'] = traj.apply(lambda row:eval(row['coordinates'])[1],axis=1)
traj

,id,time,entity_id,traj_id,coordinates,current_dis,speeds,holidays,x,y
0,0,2013-10-08T17:45:00Z,254,0,"[116.318726,40.009014]",0.000000,36.6900,0,116.318726,40.009014
1,1,2013-10-08T17:46:45Z,254,0,"[116.315102,40.004784]",0.562623,24.5375,0,116.315102,40.004784
2,2,2013-10-08T17:47:39Z,254,0,"[116.315018,40.002842]",0.778695,31.9675,0,116.315018,40.002842
3,3,2013-10-08T17:49:26Z,254,0,"[116.315041,39.998585]",1.252148,19.7850,0,116.315041,39.998585
4,4,2013-10-08T17:51:15Z,254,0,"[116.315605,39.992554]",1.924533,24.4500,0,116.315605,39.992554
...,...,...,...,...,...,...,...,...,...,...
414839,518403,2013-10-30T23:14:35Z,4954,21998,"[116.333366,39.79073]",21.419211,27.1450,0,116.333366,39.790730
414840,518404,2013-10-30T23:14:59Z,4954,21998,"[116.330444,39.79084]",21.669183,30.0825,0,116.330444,39.790840
414841,518405,2013-10-30T23:16:35Z,4954,21998,"[116.328453,39.793888]",22.129037,46.0550,0,116.328453,39.793888
414842,518406,2013-10-30T23:16:59Z,4954,21998,"[116.328072,39.796574]",22.429494,51.5150,0,116.328072,39.796574
414843,518407,2013-10-30T23:17:11Z,4954,21998,"[116.327988,39.797451]",22.527282,26.0125,0,116.327988,39.797451

In [135]:
traj['x_diff'] = traj['x'].diff()
traj['y_diff'] = traj['y'].diff()

In [136]:
traj['traj_id_changed'] = traj['traj_id'].ne(traj['traj_id'].shift())
traj = traj.loc[~traj['traj_id_changed'], :]
traj = traj.drop('traj_id_changed', axis=1)
traj

,id,time,entity_id,traj_id,coordinates,current_dis,speeds,holidays,x,y,x_diff,y_diff
1,1,2013-10-08T17:46:45Z,254,0,"[116.315102,40.004784]",0.562623,24.5375,0,116.315102,40.004784,-0.003624,-0.004230
2,2,2013-10-08T17:47:39Z,254,0,"[116.315018,40.002842]",0.778695,31.9675,0,116.315018,40.002842,-0.000084,-0.001942
3,3,2013-10-08T17:49:26Z,254,0,"[116.315041,39.998585]",1.252148,19.7850,0,116.315041,39.998585,0.000023,-0.004257
4,4,2013-10-08T17:51:15Z,254,0,"[116.315605,39.992554]",1.924533,24.4500,0,116.315605,39.992554,0.000564,-0.006031
5,5,2013-10-08T17:52:09Z,254,0,"[116.315735,39.987846]",2.448189,25.1500,0,116.315735,39.987846,0.000130,-0.004708
...,...,...,...,...,...,...,...,...,...,...,...,...
414839,518403,2013-10-30T23:14:35Z,4954,21998,"[116.333366,39.79073]",21.419211,27.1450,0,116.333366,39.790730,-0.002449,0.000050
414840,518404,2013-10-30T23:14:59Z,4954,21998,"[116.330444,39.79084]",21.669183,30.0825,0,116.330444,39.790840,-0.002922,0.000110
414841,518405,2013-10-30T23:16:35Z,4954,21998,"[116.328453,39.793888]",22.129037,46.0550,0,116.328453,39.793888,-0.001991,0.003048
414842,518406,2013-10-30T23:16:59Z,4954,21998,"[116.328072,39.796574]",22.429494,51.5150,0,116.328072,39.796574,-0.000381,0.002686
414843,518407,2013-10-30T23:17:11Z,4954,21998,"[116.327988,39.797451]",22.527282,26.0125,0,116.327988,39.797451,-0.000084,0.000877

In [137]:
traj['x_diff'].describe()

count    337440.000000
mean          0.000127
std           0.003742
min          -0.034568
25%          -0.002220
50%           0.000016
75%           0.002433
max           0.034706
Name: x_diff, dtype: float64

In [138]:
traj['y_diff'].describe()

count    337440.000000
mean         -0.000003
std           0.002685
min          -0.024597
25%          -0.001617
50%           0.000004
75%           0.001591
max           0.023827
Name: y_diff, dtype: float64

In [139]:
traj['x_Digits'] = traj['x_diff'].apply(lambda x: [int(digit) for digit in "{:.6f}".format(x).split('.')[-1][:6]])
traj['y_Digits'] = traj['y_diff'].apply(lambda x: [int(digit) for digit in "{:.6f}".format(x).split('.')[-1][:6]])
traj

,id,time,entity_id,traj_id,coordinates,current_dis,speeds,holidays,x,y,x_diff,y_diff,x_Digits,y_Digits
1,1,2013-10-08T17:46:45Z,254,0,"[116.315102,40.004784]",0.562623,24.5375,0,116.315102,40.004784,-0.003624,-0.004230,"[0, 0, 3, 6, 2, 4]","[0, 0, 4, 2, 3, 0]"
2,2,2013-10-08T17:47:39Z,254,0,"[116.315018,40.002842]",0.778695,31.9675,0,116.315018,40.002842,-0.000084,-0.001942,"[0, 0, 0, 0, 8, 4]","[0, 0, 1, 9, 4, 2]"
3,3,2013-10-08T17:49:26Z,254,0,"[116.315041,39.998585]",1.252148,19.7850,0,116.315041,39.998585,0.000023,-0.004257,"[0, 0, 0, 0, 2, 3]","[0, 0, 4, 2, 5, 7]"
4,4,2013-10-08T17:51:15Z,254,0,"[116.315605,39.992554]",1.924533,24.4500,0,116.315605,39.992554,0.000564,-0.006031,"[0, 0, 0, 5, 6, 4]","[0, 0, 6, 0, 3, 1]"
5,5,2013-10-08T17:52:09Z,254,0,"[116.315735,39.987846]",2.448189,25.1500,0,116.315735,39.987846,0.000130,-0.004708,"[0, 0, 0, 1, 3, 0]","[0, 0, 4, 7, 0, 8]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414839,518403,2013-10-30T23:14:35Z,4954,21998,"[116.333366,39.79073]",21.419211,27.1450,0,116.333366,39.790730,-0.002449,0.000050,"[0, 0, 2, 4, 4, 9]","[0, 0, 0, 0, 5, 0]"
414840,518404,2013-10-30T23:14:59Z,4954,21998,"[116.330444,39.79084]",21.669183,30.0825,0,116.330444,39.790840,-0.002922,0.000110,"[0, 0, 2, 9, 2, 2]","[0, 0, 0, 1, 1, 0]"
414841,518405,2013-10-30T23:16:35Z,4954,21998,"[116.328453,39.793888]",22.129037,46.0550,0,116.328453,39.793888,-0.001991,0.003048,"[0, 0, 1, 9, 9, 1]","[0, 0, 3, 0, 4, 8]"
414842,518406,2013-10-30T23:16:59Z,4954,21998,"[116.328072,39.796574]",22.429494,51.5150,0,116.328072,39.796574,-0.000381,0.002686,"[0, 0, 0, 3, 8, 1]","[0, 0, 2, 6, 8, 6]"
414843,518407,2013-10-30T23:17:11Z,4954,21998,"[116.327988,39.797451]",22.527282,26.0125,0,116.327988,39.797451,-0.000084,0.000877,"[0, 0, 0, 0, 8, 4]","[0, 0, 0, 8, 7, 7]"

In [140]:
traj['x_label0'] = np.sign(traj['x_diff']).astype(int)
traj['x_label1'] = traj['x_Digits'].apply(lambda x: x[0])
traj['x_label2'] = traj['x_Digits'].apply(lambda x: x[1])
traj['x_label3'] = traj['x_Digits'].apply(lambda x: x[2])
traj['x_label4'] = traj['x_Digits'].apply(lambda x: x[3])
traj['x_label5'] = traj['x_Digits'].apply(lambda x: x[4])
traj['x_label6'] = traj['x_Digits'].apply(lambda x: x[5])
traj['y_label0'] = np.sign(traj['y_diff']).astype(int)
traj['y_label1'] = traj['y_Digits'].apply(lambda x: x[0])
traj['y_label2'] = traj['y_Digits'].apply(lambda x: x[1])
traj['y_label3'] = traj['y_Digits'].apply(lambda x: x[2])
traj['y_label4'] = traj['y_Digits'].apply(lambda x: x[3])
traj['y_label5'] = traj['y_Digits'].apply(lambda x: x[4])
traj['y_label6'] = traj['y_Digits'].apply(lambda x: x[5])
traj

,id,time,entity_id,traj_id,coordinates,current_dis,speeds,holidays,x,y,...,x_label4,x_label5,x_label6,y_label0,y_label1,y_label2,y_label3,y_label4,y_label5,y_label6
1,1,2013-10-08T17:46:45Z,254,0,"[116.315102,40.004784]",0.562623,24.5375,0,116.315102,40.004784,...,6,2,4,-1,0,0,4,2,3,0
2,2,2013-10-08T17:47:39Z,254,0,"[116.315018,40.002842]",0.778695,31.9675,0,116.315018,40.002842,...,0,8,4,-1,0,0,1,9,4,2
3,3,2013-10-08T17:49:26Z,254,0,"[116.315041,39.998585]",1.252148,19.7850,0,116.315041,39.998585,...,0,2,3,-1,0,0,4,2,5,7
4,4,2013-10-08T17:51:15Z,254,0,"[116.315605,39.992554]",1.924533,24.4500,0,116.315605,39.992554,...,5,6,4,-1,0,0,6,0,3,1
5,5,2013-10-08T17:52:09Z,254,0,"[116.315735,39.987846]",2.448189,25.1500,0,116.315735,39.987846,...,1,3,0,-1,0,0,4,7,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414839,518403,2013-10-30T23:14:35Z,4954,21998,"[116.333366,39.79073]",21.419211,27.1450,0,116.333366,39.790730,...,4,4,9,1,0,0,0,0,5,0
414840,518404,2013-10-30T23:14:59Z,4954,21998,"[116.330444,39.79084]",21.669183,30.0825,0,116.330444,39.790840,...,9,2,2,1,0,0,0,1,1,0
414841,518405,2013-10-30T23:16:35Z,4954,21998,"[116.328453,39.793888]",22.129037,46.0550,0,116.328453,39.793888,...,9,9,1,1,0,0,3,0,4,8
414842,518406,2013-10-30T23:16:59Z,4954,21998,"[116.328072,39.796574]",22.429494,51.5150,0,116.328072,39.796574,...,3,8,1,1,0,0,2,6,8,6
414843,518407,2013-10-30T23:17:11Z,4954,21998,"[116.327988,39.797451]",22.527282,26.0125,0,116.327988,39.797451,...,0,8,4,1,0,0,0,8,7,7

In [141]:
traj = traj.drop(columns=['x_Digits', 'y_Digits', 'coordinates'])
traj

,id,time,entity_id,traj_id,current_dis,speeds,holidays,x,y,x_diff,...,x_label4,x_label5,x_label6,y_label0,y_label1,y_label2,y_label3,y_label4,y_label5,y_label6
1,1,2013-10-08T17:46:45Z,254,0,0.562623,24.5375,0,116.315102,40.004784,-0.003624,...,6,2,4,-1,0,0,4,2,3,0
2,2,2013-10-08T17:47:39Z,254,0,0.778695,31.9675,0,116.315018,40.002842,-0.000084,...,0,8,4,-1,0,0,1,9,4,2
3,3,2013-10-08T17:49:26Z,254,0,1.252148,19.7850,0,116.315041,39.998585,0.000023,...,0,2,3,-1,0,0,4,2,5,7
4,4,2013-10-08T17:51:15Z,254,0,1.924533,24.4500,0,116.315605,39.992554,0.000564,...,5,6,4,-1,0,0,6,0,3,1
5,5,2013-10-08T17:52:09Z,254,0,2.448189,25.1500,0,116.315735,39.987846,0.000130,...,1,3,0,-1,0,0,4,7,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414839,518403,2013-10-30T23:14:35Z,4954,21998,21.419211,27.1450,0,116.333366,39.790730,-0.002449,...,4,4,9,1,0,0,0,0,5,0
414840,518404,2013-10-30T23:14:59Z,4954,21998,21.669183,30.0825,0,116.330444,39.790840,-0.002922,...,9,2,2,1,0,0,0,1,1,0
414841,518405,2013-10-30T23:16:35Z,4954,21998,22.129037,46.0550,0,116.328453,39.793888,-0.001991,...,9,9,1,1,0,0,3,0,4,8
414842,518406,2013-10-30T23:16:59Z,4954,21998,22.429494,51.5150,0,116.328072,39.796574,-0.000381,...,3,8,1,1,0,0,2,6,8,6
414843,518407,2013-10-30T23:17:11Z,4954,21998,22.527282,26.0125,0,116.327988,39.797451,-0.000084,...,0,8,4,1,0,0,0,8,7,7

In [145]:
traj.groupby('traj_id')

10234

In [142]:
traj.to_csv('train.csv',index=False)